# EXTRACCION

In [1]:
# Cargar las librerías a utilizar
import pandas as pd
import json

In [2]:
# Ruta al archivo .JSON
ruta_archivo = "data/australian_user_reviews.json"

# Inicializar una lista para almacenar los DataFrames
rows = []

# Leer el archivo JSON línea por línea y normalizar cada línea
with open(ruta_archivo, "r", encoding="utf-8") as archivo:
    for linea in archivo:
        # Utilizar json_normalize para convertir cada línea en un DataFrame
        row = pd.json_normalize(eval(linea))
        # Agregar el DataFrame a la lista
        rows.append(row)

# Concatenar todos los DataFrames en un DataFrame final
df_reviews = pd.concat(rows, ignore_index=True)

# Revisar si el Dataframe está correcto
df_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [3]:
# Revisar el formato de la última columna. Cada elemento tiene varias listas con datos del review
df_reviews.loc[0,"reviews"]

[{'funny': '',
  'posted': 'Posted November 5, 2011.',
  'last_edited': '',
  'item_id': '1250',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'},
 {'funny': '',
  'posted': 'Posted July 15, 2011.',
  'last_edited': '',
  'item_id': '22200',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "It's unique and worth a playthrough."},
 {'funny': '',
  'posted': 'Posted April 21, 2011.',
  'last_edited': '',
  'item_id': '43110',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]

In [7]:
# Separar los distintos reviews
df_reviews = df_reviews.explode("reviews")

df_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."

In [8]:
# Convertir la columna "reviews" en un DataFrame independiente
df_temp = df_reviews["reviews"].apply(pd.Series)

df_temp.head()

,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN

In [9]:
# Unir el DataFrame original con el nuevo DataFrame de reviews
df_reviews = pd.concat([df_reviews, df_temp], axis=1)

df_reviews.head()

,user_id,user_url,reviews,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20...",,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011....",,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011...",,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....",,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2...",,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN

In [10]:
# Eliminar la columna original "reviews"
df_reviews.drop("reviews", axis=1, inplace=True)

df_reviews.head()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN

In [11]:
# Exportar el Dataframe a .CSV
df_reviews.to_csv("data/user_reviews.csv", index=False)

---------------------------

# TRANSFORMACION

In [1]:
# Cargar las librerías a utilizar
import pandas as pd
from textblob import TextBlob

In [2]:
# Cargar el .csv generado en el paso anterior
df_reviews = pd.read_csv("data/user_reviews.csv")

In [4]:
# Revisar la cantidad de filas del Dataframe
df_reviews.shape

(59333, 10)

Se necesita llevar la columna de fecha de posteo a un formato acorde a las necesidades del análisis. Para el mismo, solo puede interesar el año de posteo, por lo que se va a trabajar la columna para obtener el año. En el caso de fechas de posteo en las cuales no hay año, no se guardará ningún valor.

In [5]:
# Aplicar drop_duplicates para ver si hay filas duplicadas
df_reviews.drop_duplicates()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.,NaN
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,70.0,No ratings yet,True,a must have classic from steam definitely wort...,NaN
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,this game is a perfect remake of the original ...,NaN
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 20.,NaN,730.0,No ratings yet,True,:D,NaN
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 2.,NaN,440.0,No ratings yet,True,so much fun :D,NaN

In [6]:
# Revisar nuevamente la cantidad de filas. No había filas duplicadas
df_reviews.shape

(59333, 10)

In [78]:
# Dividir la columna 'posted' por la coma y seleccionar la segunda parte
df_reviews['posted'] = df_reviews['posted'].str.split(',').str[1]

In [79]:
# Eliminar el punto del final
df_reviews['posted'] = df_reviews['posted'].str.replace('.', '', case=False)

In [80]:
# Eliminar espacios en blanco en caso de que los haya
df_reviews['posted'] = df_reviews['posted'].str.strip()

In [81]:
df_reviews = df_reviews.drop('user_url',axis=1) # No interesa el URL del usuario para el análisis
df_reviews = df_reviews.drop('last_edited',axis=1) # Solo usaremos el año del posteo original
df_reviews = df_reviews.drop('funny',axis=1) # El análisis de sentimiento se realiza con el texto del posteo
df_reviews = df_reviews.drop('helpful',axis=1) # No interesa el posteo en relación a la ayuda para otros usuarios
df_reviews = df_reviews.drop('0',axis=1) # Columna vacía

En las siguientes líneas de código se va a realizar el análisis de sentimiento con la librería textblob, y se van a crear las dos columnas recomendadas, una que muestre la polaridad resultante y la otra con la calificación del sentimiento, siendo 0 para reviews negativas, 1 para reviews neutras y 2 para reviews positivas.

In [82]:
# Convertir todos los valores de la columna a string
df_reviews['review'] = df_reviews['review'].astype(str)

In [83]:
# Crear la columna 'polarity' y pasarle la función que calcula la polaridad del sentimeinto
df_reviews['polarity'] = df_reviews['review'].apply(lambda text: TextBlob(text).sentiment.polarity)

In [84]:
# Reviso las estadísticas de polaridad para definir los intérvalos de categoría de review
df_reviews["polarity"].describe()

count    59333.000000
mean         0.114564
std          0.294664
min         -1.000000
25%          0.000000
50%          0.058538
75%          0.250000
max          1.000000
Name: polarity, dtype: float64

La definición de los intérvalos es una cuestión de criterio personal. La mayoría de los reviews tienen una polaridad que está entre -0.20 y 0.40. En este caso elijo como review negativa cualquier valor por debajo de cero, como review neutra los valores = 0.00 (las reviews inexistentes (valor cero) se considerarán neutras), y cualquier valor por encima de cero lo considero como review positiva.

(Obs: Estos valores para los parámetros fueron adoptados después de varias iteraciones)

In [85]:
# Crear la columna 'sentiment' considerando los intérvalos adoptados
df_reviews['sentiment'] = pd.cut(df_reviews['polarity'], bins=[-float('inf'), -0.001, 0.0, float('inf')], labels=[0, 1, 2])

In [86]:
# Reviso la distribución del sentimiento para comprobar la segmentación adoptada
df_reviews["sentiment"].value_counts()

sentiment
2    33531
1    13162
0    12640
Name: count, dtype: int64

In [93]:
(df_reviews["review"].str.len() < 10).sum()

4260

(Obs: Traté de identificar porque hay más de 13000 registros con polaridad de cero. No se deve a nulos ni una sola palabra. Quizás se trate de palabras que no están en la librería)

In [94]:
# Eliminar la columna 'review', de la cual ya se ha obtenido lo necesario
df_reviews = df_reviews.drop('review', axis = 1)

In [96]:
df_reviews.to_csv("data/user_reviews_2.csv", index = False)